html.dark {
    body {
        color: $light;
        background-color: $dark;

        a,
        p {
            color: $gray-500;
        }

        a {
            transition: 0.2s ease-in-out;

            &:hover {
                color: $white;
            }
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $light;
        }

        &::selection {
            background-color: $gray-700;
            color: $white;
        }
    }

    .img-profile {
        background-color: $gray-900;
    }

    .bg-image {
        border: 1px solid $gray-800;
        background-color: $gray-900;
        border-radius: $radius-5;
    }

    .navbar {
        .nav-wrapper,
        .navbar-actions,
        .navbar-brand {
            border: 1px solid $gray-800;
            background-color: $gray-900;
        }

        .nav-pill {
            background-color: $gray-900;
        }

        .nav-item {
            .nav-link {
                color: $gray-400;

                &.active {
                    color: $white;
                }
            }
        }
    }

    .navbar-brand {
        img {
            filter: invert(1);
        }
    }

    .hero-links {
        .btn-link {
            color: $light;
            border: 1px solid $gray-800;
            background-color: $gray-900;
        }
    }

    .projects-section {
        .card-title {
            color: $light;
        }

        .card {
            padding: 2rem;
            border: 1px solid $gray-800;
            background-color: $gray-900;
        }
    }

    .projects-page {
        .projects-credits {
            .title {
                color: $light;
            }
        }
    }

    .stacks-section,
    .connections-section {
        .btn-link {
            color: $light;
            background-color: $gray-900;
        }
    }

    .experiences-section {
        .experience-logo {
            border: none;
        }

        .experience-title {
            color: $light;
        }
    }

    .error-section {
        a {
            color: $primary;
        }
    }

    @media (min-width: 576px) {
        .card {
            &.deliveboo {
                &:hover {
                    .card-image {
                        box-shadow: 0 0 3rem rgba($orange, 0.4);
                    }
                }
            }

            &.boolzapp {
                &:hover {
                    .card-image {
                        box-shadow: 0 0 3rem rgba($green, 0.4);
                    }
                }
            }
        }
    }
}