html.dark {
    body {
        color: $light;
        background-color: $dark;

        a {
            color: $gray-500;
        }
    }

    .navbar {
        .nav-item {
            .nav-link {
                color: $gray-300;
            }

            .router-link-active {
                color: $light;
                background-color: $gray-900;
            }
        }
    }

    .navbar-brand {
        filter: invert(1);
    }

    .hero-section {
        .hero-description {
            color: $gray-500;
        }

        .hero-links {
            .btn-link {
                color: $light;
                background-color: $gray-900;
            }
        }
    }

    .projects-section {
        .card-title {
            color: $light;
        }

        .card-text {
            color: $gray-500;
        }
    }

    .projects-page {
        .projects-thumb {
            img {
                background-color: $gray-900;
            }
        }
    }
}