* {
    font-family: $font-family;
}

html {
    font-display: swap;
}

body {
    height: 100vh;
    line-height: $line-height-base;
    font-weight: $font-weight-light;
    letter-spacing: .2px;

    @media (min-width: 992px) {
        width: 700px;
        margin: 0 auto;
    }

    p,
    a {
        color: $primary-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $dark;
    }
}

.fw-regular {
    font-weight: $font-weight-regular;
}

.img-profile {
    background-color: $primary;
}

@media (min-width: 576px) {
    .mt-sm-9 {
        margin-top: $spacer-9 !important;
    }
}

@media (min-width: 576px) {
    .py-sm-8 {
        padding-top: $spacer-8 !important;
        padding-bottom: $spacer-8 !important;
    }
}