* {
    font-family: $font-family;
    overflow-x: clip;

    &::selection {
        background-color: rgba($dark, .1);
    }
}

body {
    height: 100vh;
    line-height: $line-height-medium;
    font-weight: $font-weight-light;
    letter-spacing: .2px;

    @include media-breakpoint-up(lg) {
        width: 700px;
        margin: 0 auto;
    }

    p,
    a {
            
        color: $primary-text;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $dark;
    }
}

.fw-regular {
    font-weight: $font-weight-regular;
}

@include media-breakpoint-up(sm) {
    .mt-sm-8 {
        margin-top: $spacer-8;
    }
}