* {
    font-family: $font-family;
    overflow-x: clip;
}

body {
    height: 100vh;
    font-weight: $font-weight-light;

    @include media-breakpoint-up(lg) {
        width: 700px;
        margin: 0 auto;
    }

    p {
        color: $primary-text;
    }
}